{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="page-content page-container" id="page-content"></div>
<div class="padding">
  <div class="row container d-flex justify-content-center">
<div class="col-md-6 col-lg-4">
<p>Documento profesor: {{documento}}</p>

{% if profesores %}

<ul>
  {% for profesor in profesores %}
    
    <li>
      {{profesor.nombre}} - {{profesor.apellido}} - {{profesor.email}} - {{profesor.telefono}}
    </li>
      
  {% endfor %}

</ul>

{% else %}

  <p>No se encontraron datos!</p>

{% endif %}
<a href="{% url 'Profesores' %}" class="btn btn-block btn-bold btn-primary">Volver</a>


</div>
</div>
</div>
</div>

{% endblock %}