{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<label for="opcionEtiqueta">Elige una opción: </label>
    <select id="opcionProf" onchange="opcionesProf()">
       

        <option value="ingresoProf">Ingresar</option>
        <option value="consultarProf">Consultar</option>
        <option value="buscarProfs">Consultar todos</option>
    </select>
<div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
                <form id="FormIngresarProfesor" class="card" action="{% url 'Profesores' %}" method="POST">{% csrf_token %}
                  <h5 class="card-title fw-400">Ingresar Profesor</h5>
    
                  <div class="card-body">
                    {% if message %}
                    <p>{{message}}</p>
                    <a href="{% url 'Profesores' %}" class="btn btn-block btn-bold btn-primary">Volver</a>
                    {% endif %}
                    <div class="form-group">
                    {{ miFormulario.documento }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.nombre }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.apellido }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.email }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.telefono }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.curso }}
                  </div>
                  <div class="form-group">
                    {{ miFormulario.submit }}
                  </div>
                  
                </div> 
            
            
                                  
          
            </form>

            <form id="FormConsultarProfesor" class="card" action="{% url 'BuscarProfesor' %}" method="GET" style="display: none;">
              <h5 id="tituloFormEst" class="card-title fw-400">Consultar profesor</h5>
          
              <div class="card-body">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="Documento" name="documentoProfesor" id="documentoProf">
                </div>
                
                
                <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnBuscarProf" value="Buscar">
                
              
              </div>
            </form>
      
      
            <form id="FormConsultarProfesoresTodos" class="card" action="{% url 'BuscarProfesores' %}" method="GET" style="display: none;">
              <h5 id="tituloFormEst" class="card-title fw-400">Consultar profesores</h5>
          
                
                <div class="card-body">
                  <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnTodosProf" value="Buscar todos">
              </div>
            </form>
        </div>
      </div>
    </div>
    </div>
{% endblock %}