{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}


<label class="etiquetaOpciones" for="opcionEtiqueta">Elige una opción: </label>
    <select id="opcionCursos" onchange="opcionesCursos()">
       

        <option value="ingresoCurso">Ingresar</option>
        <option value="consultarCurso">Consultar</option>
        <option value="buscarCursos">Consultar todos</option>
    </select>

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
      <div class="col-md-6 col-lg-4">
        
        <form id="FormIngresarCurso" class="card" action="{% url 'Cursos' %}" method="POST">{% csrf_token %}
            <h5 id="tituloFormEst" class="card-title fw-400">Ingresar nuevo cursos</h5>
            <div class="card-body">
              {% if message %}
              <p>{{message}}</p>
              <a href="{% url 'Cursos' %}" class="button">Volver</a>
              {% endif %}
              
            <div class="form-group">
              {{ miFormulario.nombre }}
            </div>
            <div class="form-group">
              {{ miFormulario.comision }}
            </div>
            <div class="form-group">
              {{ miFormulario.submit }}
            </div>
            
          </div>
            
        
        </form>
        
    <form id="FormConsultarCurso" class="card" action="{% url 'BuscarCurso' %}" method="GET" style="display: none;">
        <h5 id="tituloFormEst" class="card-title fw-400">Consultar curso</h5>
    
        <div class="card-body">
          <div class="form-group">
            <input class="form-control" type="number" placeholder="Comision" name="comisionCurso" id="comisionCurso">
          </div>
          
          
          <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnBuscarCurso" value="Buscar">
          
        
        </div>
      </form>


      <form id="FormConsultarCursosTodos" class="card" action="{% url 'BuscarCursos' %}" method="GET" style="display: none;">
        <h5 id="tituloFormCurso" class="card-title fw-400">Consultar cursos</h5>
    
          
          <div class="card-body">
            <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnTodosCursos" value="Buscar todos">
          </div>
        </div>
      </form>
    </div>
</div>
 </div>
  </div>        
             
{% endblock contenidoQueCambia%}