{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<title>Consulta</title>
<div class="page-content page-container" id="page-content"></div>
<div class="padding">
  <div class="row container d-flex justify-content-center">
<div class="col-md-6 col-lg-4">
  <div class="FondoConsulta">
{% if error_message %}
<p class="MensajeError">{{error_message}}</p>
{% else %}
{% if cursos %}

<ul>
  {% for curso in cursos %}
    
    <li>
      <strong>Nombre del curso:</strong> {{curso.nombre}} - <strong>Comisión:</strong> {{curso.comision}}
    </li>
      
  {% endfor %}

</ul>

{% else %}

  <p class="MensajeError">No se encontraron datos!</p>

{% endif %}
{% endif %}
<a href="{% url 'Cursos' %}" class="btn btn-block btn-bold btn-primary">Volver</a>


</div>
</div>
</div>
</div>
</div>



{% endblock %}