{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

{% url 'IngresarEstudiante' %}
<label for="opcionEtiqueta">Elige una opción: </label>
    <select id="opcionEst" onchange="prueba2()">
        <option value="{% url 'IngresarEstudiante' %}">Ingresar</option>
        <option value="{% url 'ConsultarEstudiante' %}">Consultar</option>
        <option value="{% url 'ConsultarEstudiantes' %}">Consultar todos</option>
    </select>


        {% block contenidoQueCambiaFormsEst %}

        {% endblock %}
            
             
{% endblock %}