{% extends "estudiantes.html" %}
{% load static %}

{% block contenidoQueCambiaFormsEst %}

<form id="FormConsultarEstudiante" class="card" action="buscarEstudiante" method="GET" style="display: none;">{% csrf_token %}
    <h5 id="tituloFormEst" class="card-title fw-400">Ingresar nuevo estudiante</h5>

    <div class="card-body">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Documento" name="documentoEstudiante" id="documentoEst">
      </div>

      
      <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnBuscarEst" value="Buscar">
      {% if estudiante %}
      <ul>
      {% for est in estudiante %}
      <li>Documento: {{ est.documento }} - Nombre: {{ est.nombre }}</li>
    
    
      {% endfor %}
      </ul>

      {% endif %}
    
    </div>
  </form>



{% endblock %}