{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<title>Consulta</title>
<div class="page-content page-container" id="page-content"></div>
<div class="padding">
  <div class="row container d-flex justify-content-center">
<div class="col-md-6 col-lg-4">
<div class="card">
  <div class="FondoConsulta">
{% if estudiantes %}

<ul>
  {% for estudiante in estudiantes %}
    
    <li>
              <strong>Documento:</strong> {{estudiante.documento}} - 
              <strong>Nombre:</strong> {{estudiante.nombre}} - 
              <strong>Apellido:</strong> {{estudiante.apellido}} - 
              <strong>Correo:</strong> {{estudiante.email}} - 
              <strong>Telefono:</strong> {{estudiante.telefono}}
    </li>
      
  {% endfor %}

</ul>

{% else %}

  <p>No se encontraron datos!</p>

{% endif %}
<a href="{% url 'Estudiantes' %}" class="btn btn-block btn-bold btn-primary">Volver</a>
</div>

</div>
</div>
</div>
</div>



{% endblock %}