{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
  
<div class="page-content page-container" id="page-content"></div>
<div class="padding">
  <div class="row container d-flex justify-content-center">
<div class="col-md-6 col-lg-4">

{% if estudiantes %}

<ul>
  {% for estudiante in estudiantes %}
    
    <li>
      {{estudiante.nombre}} - {{estudiante.apellido}} - {{estudiante.email}} - {{estudiante.telefono}}
    </li>
      
  {% endfor %}

</ul>

{% else %}

  <p>No se encontraron datos!</p>

{% endif %}
<form id="" class="card" action="{% url 'Estudiantes' %}" method="GET">
  <input type="submit" class="btn btn-block btn-bold btn-primary" id="btnVolverEst" value="Volver">
</form>


</div>
</div>
</div>
</div>



{% endblock %}